.gridDiv {
    display: grid;
    gap: 15px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 260px;
    /* background-color: rgb(124, 219, 219); */
    justify-content: center;
    padding-top: 35px;

}

.gridDiv > div{
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(245 241 235);
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.imageDiv{
    width: 250px;
    height: 150px;
}

/* .container{
    display: block;
    text-align: center;
    
} */

.container{
    height: 600px;
    display: block;
    text-align: center;
    background-color: #d1411e;
}

#startBtn{
    float: left;
}

#endBtn{
    float: right;
}