.gridDiv {
    display: grid;
    gap: 15px;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 260px;
    /* background-color: rgb(124, 219, 219); */
    justify-content: center;
    padding-top: 35px;

}


.container {
    height: 600px;
    display: flex;
    text-align: center;
    background-color: #d1411e;
    justify-content: center;
}

#imgLeft {
    float: left;
    margin-right: 100px;
    margin-top: 100px;
    cursor: pointer;
    width: 40px;
    height: 80px;
}

#imgRight {
    float: right;
    margin-top: 100px;
    margin-left: 100px;
    cursor: pointer;
    width: 40px;
    height: 80px;
}