.navDiv {
    /* background-color: #d1411e; */
    overflow: hidden;
    /* border-bottom: 1px solid rgb(153, 152, 152); */


background: rgb(209,65,30); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(209,65,30,1) 0%, rgba(198,60,29,1) 51%, rgba(153,40,22,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(209,65,30,1) 0%,rgba(198,60,29,1) 51%,rgba(153,40,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(209,65,30,1) 0%,rgba(198,60,29,1) 51%,rgba(153,40,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1411e', endColorstr='#992816',GradientType=0 ); /* IE6-9 */


}

.navDiv a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navDiv a:hover {
    color: black;
    font-size: 20px;
}

.Logo {
    display: flex;
    width: 300px;
    float: left;
}

.Logo>p {
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: fangsong;
}

.Logo>img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 10px;
}