.navDiv {
    background-color: #d1411e;
    overflow: hidden;
    border-bottom: 1px solid rgb(153, 152, 152);
}

.navDiv a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navDiv a:hover {
    color: black;
    font-size: 20px;
}

.Logo{
    display: flex;
    width: 300px;
    float: left;
}

.Logo > p{
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: fangsong;
}
.Logo> img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 10px;
}