.mainStyle{
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(245 241 235);
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.leftStyle {
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(245 241 235);
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    animation: bounceInRight;
    animation-duration: 1s;
    animation-direction: normal;
    
}



.rightStyle {
    overflow: hidden;
    border: 1px solid black;
    background-color: rgb(245 241 235);
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    animation: bounceInLeft;
    animation-duration: 1s;
    animation-direction: normal;

}

.imageDiv {
    width: 250px;
    height: 150px;
}